body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
    color: #D1AB3E;
}

h1 {
    color: brown;
}

.rounded {
    width: 100%;
    height: auto;
}

i {
    font-size: 3rem;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 8px 16px;
}

#mainNavbar .navbar-brand {
    color: red;
    font-size: 2rem;
    font-weight: 800;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;

}

.scrolled {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background 500ms;
}

#social-media{
    text-align: center;
    padding:30px;
    letter-spacing: 30px;
    
}
