body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
    color: #D1AB3E;
}

h1 {
    color: brown;
}

.rounded {
    width: 100%;
    height: auto;
}

i{
    font-size: 3rem;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color: red;
    font-size: 2rem;
    font-weight: 800;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;

}

.scrolled {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background 500ms;
}

#social-media {
    text-align: center;
    padding: 10px;
    letter-spacing: 30px;
    font-size: xx-large;
}

.image {
    position: relative;
}

.overlay {
    position:absolute;
    display:block;
    top: 0;
    left: 0;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 800;
    color: black;
    margin-top: 30px;
}
#space{
    opacity: 0.0; 
    
}
#insta{
    padding-top: 10px;
}
@media screen and (max-width: 763px){
    .overlay{
        opacity: 0.0;
        display:none;
        
    }
    #space{
        opacity:10;
        font-size:20px;
        padding:10px;
        margin-left: 10px;
        width: 100%;
        height:auto;
        line-height:20px;

    }
    .trans{
        font-size: 20px;
        font-weight: bold;
    }
}